
.container {
    display: flex;
    flex-direction: row;
}

.alce{
    margin-left: -2rem;
}

.info{

    background-color: white;
    border-radius: 35px;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left:-10rem;
}

.title{
    margin-top:5rem;
}