.navbarCont{
    background-color: black;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top:0.5rem;
    padding: 0.5rem;
    border-radius: 16px;
    padding: -0.5rem;
    
}

.mas{
    position:absolute;
    margin-left:71rem;
    margin-top: 35rem;
}

.mainfeed{
    margin-top:4rem;
    margin-bottom: 2rem;
    margin-left: 11rem;
}

.re{
    background-color: aqua;
    padding: -0.5rem;
}

.barraBusqueda{
    width:40rem;
    margin-left:-4rem;
}
.botonera{
    margin-right: 1rem;
}
.im{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.alce{
    width:100%;
}

.carta{
    display: flex;
    flex-direction: row;
    
}

.rounded-3{
    margin: 0.5rem;
    
}

.nombre{
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size:small;
}

.perfil{
    display: flex;
    flex-direction: row;
    margin-left: 0.2rem;
    margin-right: 5rem;
}

.posts{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.columnA{
    margin-top: 5rem;
}

.containera{
    display: flex;
    align-self: center;
    flex-direction: column;
    
}
