<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>
</head>
<body>
    
</body>
</html>


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recovery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src='mains.js'></script>
   
</head>
<body>
    <div class='container'>
        <table></table>     
        <div class='informacion'>
            <h1 class='title'>Recuperar Contraseña</h1>
 
         
            <form action = "#" method='POST'>
            
                <input type="text" class="form-control correo" name ='mail' placeholder="Email">
                <!--input type="password" class="form-control contra" name ='contraseña' placeholder="Contraseña"-->
                <button type="submit" class="btn btn-secondary re">Enviar solicitud</button>
            </form>

        </div>
    </div>    
</body>
</html>